/All.intro.Java.prog.fill/JavaApplication1/build/
/All.intro.Java.prog.fill/JavaApplication1/dist/
/All.intro.Java.prog.fill/HomeWork/build/
/All.intro.Java.prog.fill/HomeWork/nbproject/private/
/All.intro.Java.prog.fill/chap6/nbproject/private/
/All.intro.Java.prog.fill/chap6/build/
/All.intro.Java.prog.fill/allXm/nbproject/private/
/All.intro.Java.prog.fill/allXm/build/
/All.intro.Java.prog.fill/chap9/nbproject/private/
/All.intro.Java.prog.fill/cha9/nbproject/private/
/All.intro.Java.prog.fill/cha9/build/
/All.intro.Java.prog.fill/cha10/nbproject/private/
/All.intro.Java.prog.fill/cha10/build/
/All.intro.Java.prog.fill/cha11/nbproject/private/
/All.intro.Java.prog.fill/cha11/build/
/All.intro.Java.prog.fill/cha12/nbproject/private/
/All.intro.Java.prog.fill/cha12/build/
/All.intro.Java.prog.fill/Evidence/nbproject/private/
/All.intro.Java.prog.fill/cha13/nbproject/private/
/All.intro.Java.prog.fill/cha13/build/
/All.intro.Java.prog.fill/Evidence/build/