/pacticform/nbproject/private/
/prectic/nbproject/private/
/html/pacticform/nbproject/private/
/projectFolder/HTML5Application/nbproject/private/
/projectFolder/hwproj/nbproject/private/
/projectFolder/myexamproj/nbproject/private/
/projectFolder/evidencehw/nbproject/private/
/projectFolder/js/jsp/nbproject/private/
/dw/mcqjs/nbproject/private/