#container{
    width: 100%;
    height: auto;
    background: khaki;
    margin: 0 auto;
}
#header{
    width: 80%;
    height: 100px;
    background: cadetblue;
    margin: 0 auto;
    text-align: center;
   line-height: -5px;
    padding: 1px 1px;
    color: firebrick;

}
#mainbody{
    width: 80%;
    height: auto;
    background: salmon;
    margin: 0 auto;
    min-height: 400px;
}
#left{
    width: 20%;
    min-height: 400px;
    background: salmon;
    float: left;
}
.men a{
    text-decoration: none;
    padding: 25px 75px;
    text-align-last: center;
    line-height: 2;
    color: blueviolet;
    font-weight: 900;
}
.men a:hover{
    text-decoration: double underline yellow;
    padding: 25px 75px;
    text-align-last: center;
    line-height: 2;
    color: aqua;
    font-weight: 900;
}


#right{
    width: 80%;
    min-height: 400px;
    background:wheat;
   float: left;
   
}
#copyright{
    width: 80%;
    height: 80px;
    background: #c34;
    margin: 0 auto;
}
marquee{
    line-height: 4;
    font-style: italic;
    font-weight: 900;
    color: chartreuse;
    font-size: 15px
}