#container{
    width: 80%;
    height: auto;
    min-width: 500px;
    margin: 0 auto;
    
}
#header{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background: 3esffff;
    line-height: 3.50;
}
#mainbody{
    width: 100%;
    min-height: 350px;
    height: auto;
    margin: 0 auto;
  
}
#left{
   width: 25%;
   min-height: 350px;
   height: auto;
   background: 3e453;
    float: left;
}
#right{
    width: 75%;
    min-height: 350px;
    background: 312cc;  
    float: left;
}
.form-container{
    width: 100%;
    height: auto;
}
.labels{
    width: 25%;
    height: auto;
    float: left;
}
.fields{
    width: 75%;
    height: auto;   
    float: left;
}
input, textArea, select,label,p{
    margin: 2px;
}
#footer{
    width: 100%;
    height: 80px;
    margin: 0 auto;
    background: 3esffff;
}
fieldset{
    margin: 10px
}
marquee{
    color: green;
    font-size: 18px;
    font-weight: 900;
}
    
