
#container{
    width: 80%;
    height: auto;
    background: burlywood;
    margin: 0 auto;
}
#header{
    width: 80%;
    height: 50px;
    background: burlywood;
    margin: 0 auto;
}
#sr{color: purple;
text-align: center;
line-height: 1.2}
#body{
    width: 80%;
    height: auto;
    min-height: 500px;
    background: peru;
    margin: 0 auto;
}
#footer{
    width: 80%;
    height: 50px;
    background: burlywood;
    margin: 0 auto;
}
marquee{
    color: darkslateblue;
    font-size: 15px;
    font-weight: 900;
    
}

#yu{
    text-align: center;
    color: red;
    line-height: 1.2px;
}
fieldset{
    margin: 10px;
}
input, textArea, select, label{
    margin: 2px;
}